fastapi==0.115.2
python-dotenv==1.0.1
redis==6.1.1
uvicorn==0.33.0
numpy==1.26.4
# Commented out because these make the Docker image too big. The container installs them once the
# app is built.
# sentence-transformers==4.1.0
# peft==0.15.2
