fastapi==0.115.2
python-dotenv==1.1.0 
redis==6.2.0
uvicorn==0.34.3
numpy==1.26.4
# Commented out because these make the Docker image too big. The container installs them once the
# app is built.
# sentence-transformers==4.1.0
# peft==0.15.2
